:root {
  /* Primary Colors */
  --clr-soft-red: 10, 79%, 65%;
  --clr-cyan: 186, 34%, 60%;

  /* Neutral Colors */
  --clr-dark-brown: 25, 47%, 15%;
  --clr-medium-brown: 28, 10%, 53%;
  --clr-cream: 27, 66%, 92%;
  --clr-very-pale-orange: 33, 100%, 98%;

  /* Body Copy */
  --font-size: 16px;

  /* Fonts */
  @import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap");
  --ff-ss: "DM Sans", sans-serif;
}

html {
  font-size: var(--font-size);
}

body {
  margin: 0;
  height: 100vh;
  display: grid;
  place-items: center;
  background-color: hsl(var(--clr-cream));
  font-size: var(--font-size);
  font-family: var(--ff-ss);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  padding: 0.75rem 2rem;
  border-radius: 1rem;
}

.flex__hz {
  display: flex;
  justify-content: space-between;
}


@media (min-width: 600px) {
  :root {
    /* Body Copy */
    --font-size: 18px;
  }
}